*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-top: 200px;
}

#color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.button{
    height: 100px;
    width: 100px;
    margin: 20px;
    border: 2px solid;
    border-radius: 20px;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#pink{
    background-color: pink;
}